.containerInstrumento{
    display: flex;
    align-items: center; 
    margin:1%;
    margin-left: 3.5%;
    margin-bottom: 5rem;
}



.containerTextoInstrumento{
    margin-left: 5%;
}

.robotoTitulo{
    font-family: "Roboto";
    font-weight: 300;
    font-Size: 1.3rem;
    font-Style: "normal";
}

.robotoCuerpo{
    font-family: "Roboto";
    font-weight: 300;
    font-Size: 1rem;
    font-Style: "normal";
}
.button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: 3px solid rgba(62, 176, 211, 0.664);
    border-radius: 5%;
    transition: all 0.3s;
}
.button:hover{
    border-color: rgb(243, 128, 233);
    transition: all 0.6s;

}
/*IMAGEN DETALLE**/
.containerInstrumentoDetalle{
    display: flex;
    align-items: center;
    margin:1%;
    margin-right: 10%;
    margin-bottom: 5rem;
    margin-left: 5%;
}

.imgContainerInsDetalle{
    margin-left: 10%;
    margin-right: 10%;
    width: 70%; 
    height: auto; 
    max-height: 50vh;
}